extends .././layout

block page-title
    |Lion Rock - Hiker

block page-header
    h1(style="font-family:'Times New Roman'") Lion Rock
 
block content 
    p 
    a(href='/database') Database Home Page	
    |  |   
    a(href='/kowloon') Kowloon
    p 
    img(src='image/kowloon/lion_rock/001.jpg' alt='' width="50%" height="50%")
    p Lion Rock, rises in the middle of Kowloon, is renowned for its shape of a crouching lion.
    |It starts at the staircase behind the Tsz Wan Shan North Bus Terminus. Follow the concrete steps and climb up to Shatin Pass. At the information board, follow the MacLehose Trail.  
    |Keep right at the crossing and then turn left at the next branch. Follow the steps and ascend to the Lion Rock. Leave at the side path adjacent to the lion head.
    |Join the MacLehose Trail and continue on the path to the Reunification Pavillion. Stay on the trail and cross Beacon Hill. At the next pavilion, turn left (the right path leads to Kowloon Reservoir)and leave the MacLehose Trail.
    |Stay left at the next fork and descend to Lung Cheung Road. Cross the highway and finish the walk at So Uk Estate.
    p 
    img(src='image/kowloon/lion_rock/004.jpg' alt='' width="30%" height="30%")
    img(src='image/kowloon/lion_rock/002.jpg' alt='' width="30%" height="30%")
    img(src='image/kowloon/lion_rock/003.jpg' alt='' width="30%" height="30%")
    br
    br
    h4 Transport
    table(style='width:70%')
        tbody
        tr
          th Starting Point
          th Route
          th Duartion
        tr
          td Minibus No. 37A
          td 
              | Wong Tai Sin Railway Station - Tsz Wan Shan (North)
              br
              |(Get Off : Tsz Wan Shan (North) Bus Terminus)
          td 15 min 	
        tr
          td Bus No. 2F,3C,3M,3P,15A
          td 
              | To Tsz Wan Shan (North)
              br
              |(Get Off : Bus Terminus)
          td ---
        tr
          th End Point
          th Route
          th Duartion
        tr
          td Bus No. 2, 112
          td 
              | So Uk Estate - Various Destinations
              br
              |(Get On : So Uk Estate)
          td ---	
        tr
          td Bus No. 796C, 970	
          td 
              | So Uk Estate - Various Destinations
              br
              |(Get On : So Uk Estate)
          td ---

    p
    |Route: 
    br
    | Tsz Wan Kok --> Shatin Pass  --> Lion Rock -->
    | Beacon Hill -->So Uk Estate
    p
    p(style="font-family:'Courier New'") Duration 4 hours
    p(style="font-family:'Courier New'") Distance 7.5 km
    p
    |Exit: 
    ul(style="font-family:'Courier New'")
        li  Descend from the Reunification Pavilion to Tin Ma Court (30 min) or to Hung Mui Kuk via Amah Rock 
    p
    |Note: 
    ul(style="font-family:'Courier New'")
        li It involves some climbs at the Lion’s head
    p
    |Summary: 
    br
    | Lion Rock is a well-marked path with lots of exit points. The route have some tough climbs to overcome, while offering a grandstand view over Kowloon peninsula.
    p
    p(style="font-family:'Georgia'") Update Date: 05/01/2022