extends .././layout

block page-title
    |Razor Hill - Hiker

block page-header
    h1(style="font-family:'Times New Roman'") Razor Hill
 
block content 
    p 
    a(href='/database') Database Home Page	
    |  |   
    a(href='/kowloon') Kowloon
    p 
    img(src='image/kowloon/razar_hill/001.jpg' alt='' width="50%" height="50%")
    p Razor Hill, rising in Pik Uk of Sai Kung, can be reached by taking the uphill paths either from Po Lam, Tseung Kwan O, Clear Water Bay Road or Pik Uk.
    |Take the road leading to the service reservoir located on the opposite of Clear Water Bay School. Skirt around the service reservoir and follow the overgrown trail to the foot of Razor Hill. Take the uphill path to a crossing.
    |Turn right and head to the top and then retrace your steps to the crossing. Follow the gravelly path to the southerly direction. After descending to a crossing, walk a short distance to the right and then go downhill to Po Lam Road North.
    p 
    img(src='image/kowloon/razar_hill/004.jpg' alt='' width="30%" height="30%")
    img(src='image/kowloon/razar_hill/002.jpg' alt='' width="30%" height="30%")
    img(src='image/kowloon/razar_hill/003.jpg' alt='' width="30%" height="30%")
    br
    br
    h4 Transport
    table(style='width:70%')
        tbody
        tr
          th Starting Point
          th Route
          th Duartion
        tr
          td Bus No. 91 
          td 
              | Diamond Hill Railway Station - Clear Water Bay
              br
              |(Get Off : Ngan Ying Road)
          td 30 min 	
        tr
          td Bus No. 91M
          td 
              | Diamond Hill Railway Station - Po Lam
              br
              |(Get Off : Ngan Ying Road)
          td 30 min
        tr
          td Bus No. 792M 
          td 
              | Tseung Kwan O Railway Station - Sai Kung
              br
              |(Get Off : Ngan Ying Road)
          td 35 min 	
        tr
          td Minibus No. 11M
          td 
              | Hang Hau Railway Station - The Hong Kong University of Science and Technology 
              br
              |(Get Off : Ngan Ying Road)
          td 30 min
        tr
          th End Point
          th Route
          th Duartion
        tr
          td Bus
          td 
              | To Various Destinations
              br
              |(Get On :Po Lam Road North)
          td ---	
        tr
          td Minibus No. 15M	
          td 
              | Po Lam - Hong Sing Garden
              br
              |(Get On : Po Lam Road North)
          td ---
        tr
          td Minibus No. 17M
          td 
              | Po Lam - Tsui Lam
              br
              |(Get On : Po Lam Road North)
          td ---
        tr
          td Minibus No. 105	
          td 
              | Hong Sing Garden - To Kwa Wan
              br
              |(Get On : Po Lam Road North)
          td ---

    p
    |Route: 
    br
    | Clear Water Bay Road --> Razor Hill  --> Po Lam Road North
    p
    p(style="font-family:'Courier New'") Duration 2 hours
    p(style="font-family:'Courier New'") Distance 3.5 km
    p
    |Exit: None
    p
    |Note: 
    ul(style="font-family:'Courier New'")
        li The trail head leading up to Razor hill is indistinct.
        li The uphill path is moderately difficult while the downhill path is gravelly.
    p
    |Summary: 
    br
    | The path leading up to Razor Hill is slightly demanding. The hill top offers sweeping views across Port Island and the islets in the vicinity.
    p
    p(style="font-family:'Georgia'") Update Date: 05/01/2022