extends .././layout

block page-title
    |Lantau Peak - Hiker

block page-header
    h1(style="font-family:'Times New Roman'") Lantau Peak
 
block content 
    p 
    a(href='/database') Database Home Page	
    |  |   
    a(href='/lantau_island') Lantau Island
    p 
    img(src='image/lantau_island/lantau_peak/003.jpg' alt='' width="50%" height="50%")
    p 
    |Lantau Peak, literally meaning Phoenix Hill, is the second highest peak in Hong Kong after Tai Mo Shan. The hill comprises two peaks, which are usually shrouded in clouds. As the vantage on top offers panoramic views and is accessible by Lantau Trail, Lantau Peak attracts lots of visitors climbing up for watching sunrise.
    |Set off at Pak Kung Au, the between Lantau Peak and Sunset Peak, and follow the signpost of the Lantau Trail. Ascend along the uphill path and reach the top of the Lantau Peak. Keep on the trail and descend to a wooden archway.
    |Take the trail on the left (the Lantau Trail continues to the right) and head to Ngong Ping bus terminus.    
    p 
    img(src='image/lantau_island/lantau_peak/001.jpg' alt='' width="30%" height="30%")
    img(src='image/lantau_island/lantau_peak/002.jpg' alt='' width="30%" height="30%")
    img(src='image/lantau_island/lantau_peak/004.jpg' alt='' width="30%" height="30%")
    br
    br
    h4 Transport
    table(style='width:70%')
        tbody
        tr
          th Starting Point
          th Route
          th Duartion
        tr
          td Bus No. 11, 23 
          td 
              | Tung Chung - Various Destinations
              br
              |(Get Off :Pak Kung Au)
          td 30 min 	
        tr
          td Bus No. 3M 	
          td 
              | Mui Wo - Tung Chung
              br
              |(Get Off : Pak Kung Au)
          td 1 hour
        tr
          th End Point
          th Route
          th Duartion
        tr
          td Bus No. 2
          td 
              | Ngong Ping - Mui Wo
              br
              |(Get On : Ngong Ping)
          td 40 min 	
        tr
          td Ngong Ping - Tung Chung
          td 
              | Mui Wo - Tung Chung
              br
              |(Get On : Ngong Ping)
          td 50 min
        tr
          td Cable Car
          td 
              | Ngong Ping - Tung Chung
              br
              |(Get On : Ngong Ping)
          td 25 min

    p
    |Route: 
    br
    | Pak Kung Au --> Lantau Peak --> Ngong Ping
    p
    p(style="font-family:'Courier New'") Duration 3 hours
    p(style="font-family:'Courier New'") Distance 6 km
    p
    |Exit: None
    p
    |Note: 
    ul(style="font-family:'Courier New'")
        li The flights of steps leading up to the Lantau Peak are demanding.
    p
    |Summary: 
    br
    | SummaryThe path to Lantau Peak ascends steeply and involves three vigorous uphill sections, making it a challenging walk for most hikers. You need a little bit of luck to enjoy the panoramic view over the top for the peak is usually veiled in mist.
    p
    p(style="font-family:'Georgia'") Update Date: 05/01/2022