extends .././layout

block page-title
    |Ngong Ping Trail - Hiker
    
block page-header
    h1(style="font-family:'Times New Roman'") Ngong Ping Trail
 
block content 
    p 
    a(href='/database') Database Home Page	
    |  |   
    a(href='/lantau_island') Lantau Island
    p 
    img(src='image/lantau_island/ngong_ping/003.JPG' alt='' width="50%" height="50%")
    p 
    |The whole trail is 5.7km long and the section between Tung Chung and Ngong Ping takes about 4 hours to complete if you reserve some time for a mid-way break. Formerly a rugged Mountain trail and also known as Ngong Ping 360 Rescue Trail, it connects Tung Chung and Ngong Ping and is now used as the rescue and maintenance of Ngong Ping 360. When the cable car system was constructed, part of the trail was paved with wooden boards as a way to preserve the natural environment.
    p 
    img(src='image/lantau_island/ngong_ping/001.JPG' alt='' width="30%" height="30%")
    img(src='image/lantau_island/ngong_ping/002.JPG' alt='' width="30%" height="30%")
    img(src='image/lantau_island/ngong_ping/004.JPG' alt='' width="30%" height="30%")
    br
    br
    h4 Transport
    table(style='width:70%')
        tbody
        tr
          th Starting Point
          th Route
          th Duartion
        tr
          td Bus No. 23 
          td 
              | Tung Chung - Mui Wo 
              br
              |(Get Off : Ngong Ping)
          td 45 min 	
        tr
          td Cable Car	
          td 
              | Tung Chung - Ngong Ping
              br
              |(Get Off :  Ngong Ping)
          td 25 min
        tr
          th End Point
          th Route
          th Duartion
        tr
          td Bus No. 1‧2 ‧3M
          td 
              | Tung Chung - Various Destinations
              br
              |(Get On : Tung Chung)
          td 15 min 	
    p
    |Route: 
    br
    | Ngong Ping --> Tung O Ancient Trail --> Tung Chung
    p
    p(style="font-family:'Courier New'") Duration 2 hours
    p(style="font-family:'Courier New'") Distance 6 km
    p
    |Exit: None
    p
    |Note: 
    ul(style="font-family:'Courier New'")
        li The trail involves some elevations and descends
    p
    |Summary: 
    br
    | Ngong Ping is a beautiful plateau on Lantau Island with Lantau Peak—Hong Kong’s second highest—at its southeast. Go on a hike here for the scenic serenity of Lantau Island as well as for the spiritual atmosphere, a result of the area’s Buddhist landmarks, such as Po Lin Monastery, the Tian Tan Buddha and Wisdom Path.
    p
    p(style="font-family:'Georgia'") Update Date: 05/01/2022