extends .././layout

block page-title
    |Ho Pui - Hiker
 
block page-header
    h1(style="font-family:'Times New Roman'") Ho Pui Resevoir
 
block content 
    p 
    a(href='/database') Database Home Page	
    |  |   
    a(href='/new_territories') New Territories
    p 
    img(src='image/new_territories/ho_pui/004.jpg' alt='' width="50%" height="50%")
    p Ho Pui Resevoir, nestling in Tai Lam Country Park, was awarded one of the Ten Best Natural Scenery in Country Parks by the Agriculture, Fisheries and Conservation Department in 1988.
    |Set off at Tsuen Kam Au Country Park Management Centre. Follow the Nature Trail on the right, then leave it and join Kap Lung Ancient Trail. A short distance ahead, turn left and follow the Kap Lung Forest Trail. 
    |At the next fork, leave the trail and continue along the Ho Pui Mountrain Bike Trail. After a number of twists and turns, the vista opens up, with a view overlooking Pat Heung. 
    |Farther ahead, follow the trail specialized for hikers (the trail next to it is designated for mountain bikes) and drop to Ho Pui Reservoir. Make a left turn circling around the reservoir and continue on the road. 
    |Head left at the barbecue site, pass through the village houses and end the journey at the minibus terminal.
    p 
    img(src='image/new_territories/ho_pui/001.jpg' alt='' width="30%" height="30%")
    img(src='image/new_territories/ho_pui/002.jpg' alt='' width="30%" height="30%")
    img(src='image/new_territories/ho_pui/003.jpg' alt='' width="30%" height="30%")
    br
    br
    h4 Transport
    table(style='width:70%')
        tbody
        tr
          th Starting Point
          th Route
          th Duartion
        tr
          td Bus No. 51 
          td 
              | Tsuen Wan West Railway Station - Sheung Tsuen (Circular)
              br
              |(Get Off : Country Park)
          td 30 min 	
        tr
          th End Point
          th Route
          th Duartion
        tr
          td Minibus No. 71
          td 
              | Ho Pui - Yuen Long (Tai Hang Street)
              br
              |(Get On : Ho Pui)
          td 30 min 	
    p
    |Route: 
    br
    | Tsuen Kam Au --> Ancient Trail --> Forest Trail -->
    | Mountain Bike Trail --> Ho Pui Reservoir --> Ho Pui
    p
    p(style="font-family:'Courier New'") Duration 3.5 hours
    p(style="font-family:'Courier New'") Distance 9 km
    p
    |Exit: 
    ul(style="font-family:'Courier New'")
        li Follow the Kap Lung Ancient Trail all the way to Lui Kung Tin
        li Follow the Kap Lung Forest Trail to Lui Kung Tin at the intersection of the Mountrain Bike Trail and the Forest Trail
        li Skip walking around the reservoir and head straight to Ho Pui
    p
    |Note: 
    ul(style="font-family:'Courier New'")
        li Beware of the mountain bikes
    p
    |Summary: 
    br
    | It is a fairly easy walk under shade, with an interesting scene of an offshore island in the reservoir.
    | Some sections overlap with the trails designated for mountain bikes and one should walk with extra care.
    p
    p(style="font-family:'Georgia'") Update Date: 05/01/2022