extends .././layout

block page-title
    |Kai Kung Leng - Hiker

block page-header
    h1(style="font-family:'Times New Roman'") Kai Kung Leng
 
block content 
    p 
    a(href='/database') Database Home Page	
    |  |   
    a(href='/new_territories') New Territories
    p 
    img(src='image/new_territories/kai_kung/004.jpg' alt='' width="50%" height="50%")
    p Kai Kung Leng, a mountain located in the Northwest Territories, offers splendid views over Yuen Long and Mai Po.
    |Alight at Fung Kat Heung Road. Follow along the road and then take the steps to the left. Join the wooden steps and ascend to the ridge.
    |Follow along the ridge until the Tsiu Keng village is in sight. Take the shrubbery path on the right to Tsiu Keng and finally join the road towards Fan Kam Road.
    p 
    img(src='image/new_territories/kai_kung/001.jpg' alt='' width="30%" height="30%")
    img(src='image/new_territories/kai_kung/002.jpg' alt='' width="30%" height="30%")
    img(src='image/new_territories/kai_kung/003.jpg' alt='' width="30%" height="30%")
    br
    br
    h4 Transport
    table(style='width:70%')
        tbody
        tr
          th Starting Point
          th Route
          th Duartion
        tr
          td Minibus No. 603
          td 
              | Yuen Long (Fung Cheung Road) - Fung Kat Heung
              br
              |(Get Off : Wah Shing Tsuen)
          td 30 min 	
        tr
          th End Point
          th Route
          th Duartion
        tr
          td Bus No. 77K
          td 
              | Cheung Wah - Yuen Long West Bus Terminus
              br
              |(Get On : Tsiu Keng, Fan Kam Road)
          td 45 min 	

    p
    |Route: 
    br
    | Fung Kat Heung --> Kai Kung Leng 	 --> Tsiu Keng -->
    | Fan Kam Road
    p
    p(style="font-family:'Courier New'") Duration 4 hours
    p(style="font-family:'Courier New'") Distance 7 km
    p
    |Exit: 
    ul(style="font-family:'Courier New'")
        li There is a side path on the right eading to Ta Shek Wu
    p
    |Note: 
    ul(style="font-family:'Courier New'")
        li It's a long-distance trail with much elevation and descent. Recommeded for hikers with good physical fitness
        li The whole trail is exposed to sun
        li Some sections of the trail are gravelly, shrubbery or steep
        li Beware of mountain bikes
    p
    |Summary: 
    br
    | he long-distance trail over Kai Kung Leng runs along the ridge and involves demanding elevation and descent.
    | Visitors will be awarded with magnificient mountain landscape comparable to Pat Sin Leng in the Northeast Territories.
    p
    p(style="font-family:'Georgia'") Update Date: 05/01/2022