extends .././layout
 
block page-header
    h1(style="font-family:'Times New Roman'") Tai To Yan

block page-title
    |Tai To Yan - Hiker

block content 
    p 
    a(href='/database') Database Home Page	
    |  |   
    a(href='/new_territories') New Territories
    p 
    img(src='image/new_territories/tai_to_yan/004.jpg' alt='' width="50%" height="50%")
    p Tai To Yan, meaning the blade of a knife, is one of the popular hiking routes in the northwest of New Territories.
    |You may visit the Kadoorie Farm and Botanical Garden before setting off. The starting point is just opposite to the entrance of the garden. 
    |Climb up a flights of steps to Tai To Yan, with a pleasant view over Pat Heng, Kam Tin and Tai Mo Shan. 
    |Following some ups and downs, you will reach Pak (North) Tai To Yan. There are two exits on the left (towards Ta Shek Wu and Fanling Railway Station). 
    |Take the one leading to Fanling Railway Station and follow the concrete path to Fung Ying Sin Koon via Kei Lak Tsai.
    p 
    img(src='image/new_territories/tai_to_yan/001.jpg' alt='' width="30%" height="30%")
    img(src='image/new_territories/tai_to_yan/002.jpg' alt='' width="30%" height="30%")
    img(src='image/new_territories/tai_to_yan/003.jpg' alt='' width="30%" height="30%")
    br
    br
    h4 Transport
    table(style='width:70%')
        tbody
        tr
          th Starting Point
          th Route
          th Duartion
        tr
          td Bus No. 64K
          td 
              | Tai Po Market Railway Station - Yuen Long (West)
              br
              |(Get Off : Kadoorie Farm)
          td 40 min 	
        tr
          td Bus No. 65K
          td 
              | Tai Po Central - Sheung Tsuen
              br
              |(Get Off : Kadoorie Farm)
          td 30 min
        tr
          th End Point
          th Route
          th Duartion
        tr
          td Bus No. 278X‧279X‧76K
          td To Various Destinations
          td --- 	
        tr
          td Railway
          td Fanling - Various Destinations
          td ---

    p
    |Route: 
    br
    | Kadoorie Farm --> Tai To Yan --> Pak Tai To Yan -->
    | Kei Lak Tsai --> Fung Ying Sin Koon 
    p
    p(style="font-family:'Courier New'") Duration 3 hours
    p(style="font-family:'Courier New'") Distance 8.5 km
    p
    |Exit: 
    ul(style="font-family:'Courier New'")
        li There is an arduous path for early exit from Tai To Yan to Ta Shek Wu (time and difficulty unknown) 
    p
    |Note: 
    ul(style="font-family:'Courier New'")
        li The uphill steps from Kadoorie Farm to Tai To Yan is physically demanding.
    p
    |Summary: 
    br
    | Tai To Yan, named as the blade of a sword, is not as dangerous as what it sounds. It is rewarding to get to the summit for the 360 degree panoramic view is fantastic. 
    p
    p(style="font-family:'Georgia'") Update Date: 05/01/2022