extends ./layout

block page-title
    |About - Hiker
    
block page-header
    h1 About this website
 
block content
    p This website is a hiking database of Hong Kong. Most of the photos are taken by me
    p Some of the information is retrieved from the website below
    a(href='https://www.oasistrek.com/' target="_blank") Oasistrek
    p Please feel free to visit the information on this website
    br
    p If you have any inquiry, Please feel free to email me. Click the button below.
    a(href='mailto: tommyto0925@gmail.com') Email me
    p 
    img(src='image/about_page.jpg' alt='' width="40%" height="40%")
    p MacLehose Trail Section 8