extends ./layout

block page-title
    |Database Home - Hiker
    
block page-header
    h1 Hiking Database
 
block content
    p This page is hikng database of Hong Kong (update on 2022.01.03)
    br
    a(href='/hongkong_island') Hong Kong Island
    br
    a(href='/kowloon') Kowloon
    br
    a(href='/lantau_island') Lantau Island
    br
    a(href='/new_territories') New Territories
    p 
    img(src='image/database.jpg' alt='' width="40%" height="40%")