extends ./layout

block page-title
    |New Territories - Hiker
    
block page-header
    h1 New Territories
 
block content
    p This page is hikng database of New Territories (update on 2022.01.02)
    br
    a(href='/database') Database Home Page
    br
    a(href='/yuentsuen_trail') Yuen Tsuen Ancient Trail
    br
    a(href='/tai_to_yan') Tai To Yan
    br
    a(href='/ho_pui') Ho Pui Resevoir
    br
    a(href='/kai_kung') Kai Kung Leng
    p 
    img(src='image/database_nt.png' alt='' width="40%" height="40%")