extends .././layout

block page-title
    |High West - Hiker

block page-header
    h1(style="font-family:'Times New Roman'") High West
 
block content 
    p 
    a(href='/database') Database Home Page	
    |  |   
    a(href='/hongkong_island') Hong Kong Island
    p 
    img(src='image/hongkong_island/high_west/001.jpg' alt='' width="50%" height="50%")
    p High West, rising with an altitude of 494 meters on Hong Kong Island, offer splendid views of the south, west and north of the island.
    |Alight at the Victoria Gap, walk along the Lugard Road by the Peak Tower. At the resting place by Harlech Road, join the path behind the pavilion and climb up the steps to High West.
    |Retrace the path to the pavilion, continue along the Harlech Road and drop down to High West Battery. Keep on the sheltered Hong Kong Trail, head right to Pok Fu Lam Reservoir at the junction and keep right towards Pok Fu Lam Road.
    p 
    img(src='image/hongkong_island/high_west/004.jpg' alt='' width="30%" height="30%")
    img(src='image/hongkong_island/high_west/002.jpg' alt='' width="30%" height="30%")
    img(src='image/hongkong_island/high_west/003.jpg' alt='' width="30%" height="30%")
    br
    br
    h4 Transport
    table(style='width:70%')
        tbody
        tr
          th Starting Point
          th Route
          th Duartion
        tr
          td Bus No. 15
          td 
              | Central - The Peak
              br
              |(Get Off : The Peak)
          td --- 	
        tr
          td Bus No. 15B	
          td 
              | Wan Chai(Convention Centre) - The Peak
              br
              |(Get Off : The Peak)
          td ---
        tr
          td Minibus No. 1 		
          td 
              | Central - The Peak
              br
              |(Get Off : The Peak)
          td ---
        tr
          td Tram
          td 
              | Admiralty- The Peak
              br
              |(Get Off : The Peak)
          td ---
        tr
          th End Point
          th Route
          th Duartion
        tr
          td Bus
          td 
              | To Various Destinations
              br
              |(Get Off : Pok Fu Lam Road)
          td ---
    p
    |Route: 
    br
    | Victoria Gap -->Lugard Road --> Harlech Road -->
    | High West --> Pok Fu Lam Reservoir --> Pok Fu Lam Road
    p
    p(style="font-family:'Courier New'") Duration 2 hours
    p(style="font-family:'Courier New'") Distance 7 km
    p
    |Exit: 
    ul(style="font-family:'Courier New'")
        li Follow the Lugard Road and Harlech Road back to Victoria Gap
        li Follow the Harlech Road back to Victoria Gap after visiting High West
    p
    |Note: None
    p
    |Summary: 
    br
    | High West, with 360 degree view, is a nice vantage point for watching sunset. There is only a flight of stairs to be overcome while the rest of the route is mainly shaded.
    p
    p(style="font-family:'Georgia'") Update Date: 05/01/2022