extends .././layout

block page-title
    |Victoria Peak - Hiker
 
block page-header
    h1(style="font-family:'Times New Roman'") Victoria Peak
 
block content 
    p 
    a(href='/database') Database Home Page	
    |  |   
    a(href='/hongkong_island') Hong Kong Island
    p 
    img(src='image/hongkong_island/peak/001.jpg' alt='' width="50%" height="50%")
    p Victoria Peak, also known as The Peakis renowned for its night cityscape over the Victoria harbour, Hong Kong Island and Kowloon peninsula.
    |Start at the Mount Austin Road by the Peak Tower, pass the Gate Lodge of the Former Mountain Lodge and slightly ascend to Victoria Peak Gardens. Descend and walk along the trail and then walk up. Return to the Gate Lodge and join the Governor’s Walk.
    |Head left at the next crossing, join the intersection of Herlech Road and Lugard Road. From there, turn left and continue along the Harlech Road to the Peak Tower.
    p 
    img(src='image/hongkong_island/peak/004.jpg' alt='' width="30%" height="30%")
    img(src='image/hongkong_island/peak/002.jpg' alt='' width="30%" height="30%")
    img(src='image/hongkong_island/peak/003.jpg' alt='' width="30%" height="30%")
    br
    br
    h4 Transport
    table(style='width:70%')
        tbody
        tr
          th Starting Point
          th Route
          th Duartion
        tr
          td Bus No. 15
          td 
              | Central - The Peak
              br
              |(Get Off : The Peak)
          td --- 	
        tr
          td Bus No. 15B	
          td 
              | Wan Chai(Convention Centre) - The Peak
              br
              |(Get Off : The Peak)
          td ---
        tr
          td Minibus No. 1 		
          td 
              | Central - The Peak
              br
              |(Get Off : The Peak)
          td ---
        tr
          td Tram
          td 
              | Admiralty- The Peak
              br
              |(Get Off : The Peak)
          td ---
        tr
          th End Point
          th Route
          th Duartion
        tr
          td(colspan='3')
              center Same As Above
    p
    |Route: 
    br
    | Victoria Gap -->Victoria Peak Gardens --> Governor's Walk -->
    | Herlech Road --> Victoria Gap 	
    p
    p(style="font-family:'Courier New'") Duration 1 hours
    p(style="font-family:'Courier New'") Distance 4 km
    p
    |Exit: 
    ul(style="font-family:'Courier New'")
        li  Continue along the Mount Austin Road and head back to the Peak Tower after returning to the Gate Lodge.
    p
    |Note: None
    p
    |Summary: 
    br
    | Both Peak Tower and Victoria Peak Garden offer lovely views over Hong Kong Island, Kowloon and outlying islands. It is an easy route for enjoying a leisurely stroll.
    p
    p(style="font-family:'Georgia'") Update Date: 05/01/2022