extends .././layout

block page-title
    |Tai Tam - Hiker

block page-header
    h1(style="font-family:'Times New Roman'") Tai Tam
 
block content 
    p 
    a(href='/database') Database Home Page	
    |  |   
    a(href='/hongkong_island') Hong Kong Island
    p 
    img(src='image/hongkong_island/tai_tam/001.jpg' alt='' width="50%" height="50%")
    p Tai Tam Country Park, lying in the southern part of Hong Kong Island, mainly consists of a group of four reservoirs, namely, Tai Tam Upper Reservoir, Tai Tam Byewash Reservoir, Tai Tam Intermediate Reservoir and Tai Tam Tuk Reservoir.
    |At the gas station near Wong Nai Chung Gap Road, take a few steps up and cross the road. Follow along the path on the right and join the Violet Hill Trail. At the trailhead, head straight, follow the catchment and a dirt path until reaching a crossing. 
    p 
    img(src='image/hongkong_island/tai_tam/004.jpg' alt='' width="30%" height="30%")
    img(src='image/hongkong_island/tai_tam/002.jpg' alt='' width="30%" height="30%")
    img(src='image/hongkong_island/tai_tam/003.jpg' alt='' width="30%" height="30%")
    br
    br
    h4 Transport
    table(style='width:70%')
        tbody
        tr
          th Starting Point
          th Route
          th Duartion
        tr
          td Bus No. 6
          td 
              | Central (Exchange Square) - Stanley Prison
              br
              |(Get Off : Wong Nai Chung Reservoir Park)
          td 20 min 	
        tr
          td Bus No. 63 (Weekdays) 	
          td 
              | North Point Ferry Pier - Stanley Prison
              br
              |(Get Off : Wong Nai Chung Reservoir Park)
          td ---
        tr
          th End Point
          th Route
          th Duartion
        tr
          td Bus No. 14
          td 
              | Grand Promenate - Stanley Fort (Gate)
              br
              |(Get Off : Tai Tam Rd)
          td 15 min 	
        tr
          td Bus No. 314 (Public Holidays) 	
          td 
              | Stanley Market - Siu Sai Wan (Island Resort)
              br
              |(Get Off : Tai Tam Rd)
          td ---
        tr
          td Minibus No. 16M	
          td 
              | Chai Wan Railway Station - Chung Hom Kok
              br
              |(Get Off : Tai Tam Rd)
          td ---
    p
    |Route: 
    br
    | Wong Nai Chung Reservoir -->Tsin Shui Wan Au --> Tai Tam Intermediate Reservoir -->
    | Tai Tam Tuk Reservoir --> Tai Tam Road
    p
    p(style="font-family:'Courier New'") Duration 2 hours
    p(style="font-family:'Courier New'") Distance 7.5 km
    p
    |Exit: 
    ul(style="font-family:'Courier New'")
        li There is a way out to Repulse Bay Road to the right of Tsin Shui Wan Au.
    p
    |Note: None
    p
    |Summary: 
    br
    | It is a well-marked and faily easy walk with a bird's eye view over Repulse Bay. The British Style Stone Bridge is well worth looking.
    p
    p(style="font-family:'Georgia'") Update Date: 05/01/2022